aplikácia.json
[{"id":"1bebdcfc.a89153","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"986ed5d8.830828","type":"inject","z":"1bebdcfc.a89153","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["4191d89b.5ac318"]]},{"id":"94b12173.076a6","type":"function","z":"1bebdcfc.a89153","name":"generateRandomStreet","func":"var i = Math.floor(Math.random() * \n(1473 - 0 + 1)) + 0;\nvar array = msg.payload;\nmsg = {\n payload: JSON.stringify(\n {\n d:{\n \"street\" : array[i]}\n }\n )\n};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["d94e23fb.9a77a"]]},{"id":"4191d89b.5ac318","type":"http request","z":"1bebdcfc.a89153","name":"streets","method":"GET","ret":"obj","paytoqs":false,"url":"https://raw.githubusercontent.com/RoboPavlik910/JSON/master/BPsDIA.json","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":80,"wires":[["335495cd.b4b8aa"]]},{"id":"335495cd.b4b8aa","type":"split","z":"1bebdcfc.a89153","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":80,"wires":[["5e6f8459.f7713c"]]},{"id":"5e6f8459.f7713c","type":"change","z":"1bebdcfc.a89153","name":"Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Street","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[["330166bd.4181da"]]},{"id":"330166bd.4181da","type":"join","z":"1bebdcfc.a89153","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":80,"wires":[["94b12173.076a6"]]},{"id":"2fff3acd.df1fb6","type":"ibmiot in","z":"1bebdcfc.a89153","authentication":"apiKey","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":360,"wires":[["11fe1247.10842e"]]},{"id":"d94e23fb.9a77a","type":"ibmiot out","z":"1bebdcfc.a89153","authentication":"apiKey","apiKey":"","outputType":"evt","deviceId":"","deviceType":"","eventCommandType":"","format":"json","data":"","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":180,"wires":[]},{"id":"eb948e1b.45db4","type":"debug","z":"1bebdcfc.a89153","name":"Safe výstup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":440,"wires":[]},{"id":"7de770cb.ad8ba","type":"cloudant out","z":"1bebdcfc.a89153","name":"","cloudant":"","database":"","service":"ukážka-cloudantNoSQLDB","payonly":false,"operation":"insert","x":420,"y":280,"wires":[]},{"id":"11fe1247.10842e","type":"function","z":"1bebdcfc.a89153","name":"separateName","func":"return{payload:msg.payload.d.street};","outputs":1,"noerr":0,"x":260,"y":360,"wires":[["7de770cb.ad8ba","84c81ad6.3eedb8","59c701b0.4a453"]]},{"id":"33d8625e.d5a19e","type":"split","z":"1bebdcfc.a89153","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":250,"y":480,"wires":[["5496fbe5.7d9224"]]},{"id":"5496fbe5.7d9224","type":"change","z":"1bebdcfc.a89153","name":"Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Street","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":480,"wires":[["431ecf.1b26613"]]},{"id":"431ecf.1b26613","type":"join","z":"1bebdcfc.a89153","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":480,"wires":[["84c81ad6.3eedb8"]]},{"id":"84c81ad6.3eedb8","type":"join","z":"1bebdcfc.a89153","name":"toArray","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":640,"y":360,"wires":[["c76fdc4.44c662"]]},{"id":"59c701b0.4a453","type":"http request","z":"1bebdcfc.a89153","name":"thefts","method":"GET","ret":"obj","paytoqs":false,"url":"https://raw.githubusercontent.com/RoboPavlik910/JSON/master/kradeze.json","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":480,"wires":[["33d8625e.d5a19e"]]},{"id":"2cb94417.2360fc","type":"switch","z":"1bebdcfc.a89153","name":"x>3","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"num"},{"t":"lt","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":360,"wires":[["2e344155.10a50e"],["b8beb330.09aa4"]]},{"id":"2e344155.10a50e","type":"template","z":"1bebdcfc.a89153","name":"Danger","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This street is potentially dangerous !! Number of thefts is {{payload}}.","output":"str","x":1220,"y":220,"wires":[["c38718a9.19ef58","8b18877d.e39e58"]]},{"id":"b8beb330.09aa4","type":"template","z":"1bebdcfc.a89153","name":"Safe","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This street is safe. Number of thefts is {{payload}}. ","output":"str","x":1210,"y":440,"wires":[["eb948e1b.45db4"]]},{"id":"c76fdc4.44c662","type":"function","z":"1bebdcfc.a89153","name":"numberOfThefts","func":"var i = 0;\nvar array = msg.payload[1];\nvar find = msg.payload[0];\nvar counter = 0;\nfor (i = 0; i < array.length; i++) {\n  if (array[i] == find){\n    counter++  \n  }\n}\nmsg.payload = counter;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":360,"wires":[["2cb94417.2360fc"]]},{"id":"c38718a9.19ef58","type":"watson-text-to-speech","z":"1bebdcfc.a89153","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1400,"y":160,"wires":[["1fbe96d.a0b9269"]]},{"id":"8b18877d.e39e58","type":"watson-translator","z":"1bebdcfc.a89153","name":"ENG -> SVK","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"sk","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"sk","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1390,"y":280,"wires":[["f6731573.52e698"]]},{"id":"1fbe96d.a0b9269","type":"play audio","z":"1bebdcfc.a89153","name":"","voice":"0","x":1535,"y":160,"wires":[],"l":false},{"id":"f6731573.52e698","type":"twilio out","z":"1bebdcfc.a89153","service":"_ext_","twilio":"","from":"","number":"","name":"","x":1540,"y":280,"wires":[]}]
